.landing_page_leaderboards-container {
    max-width: 1200px;
    flex-direction: column;
}

.about_game_title  {
    width: 260px;
    padding: 0.75rem;
    position: relative;
    text-align: center;
    font: 1.5rem 'Nunito-Bold', serif;
    gap: 7.5px;
    cursor: pointer;
}

.landing_page_book_description-wrapper {
    width: 90%;
    background: #fff;
    border: solid black;
    border-color: black;
    float: left;    
    padding: 15px 5px;
    margin-bottom: 1rem;
    border-width: 3px 2.5px 4px 6px;
    border-radius: 95% 1.5% 97% 2.5%/1% 94% 10% 95%;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transform: rotate(1deg);
}

.landing_page_book_description {
    font: 1rem 'Nunito-Bold', serif;
    margin:15px;
    transform: rotate(-1deg);
}


.landing_page_leaderboards {
    width: 300px;
    height: 500px;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #f0f0f0;
    position: relative;
    z-index: 1;
}

.landing_page_leaderboards-back {
    width: 290px;
    height: 499px;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    background: #f0f0f0;
    z-index: -1;
}

