.landing_page_leaderboards-container {
    flex-direction: column;
}

.landing_page_leaderboards {
    width: 300px;
    height: 500px;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #f0f0f0;
    position: relative;
    z-index: 1;
}

.landing_page_leaderboards-back {
    width: 290px;
    height: 499px;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    background: #f0f0f0;
    z-index: -1;
}