.store_avatars-container {
    height: 90%;
    padding: 0.5rem;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 2rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.store_avatars-container::-webkit-scrollbar {
    display: none;
}

.store_avatar {
    width: 125px;
    height: 165px;
    background: #FBFBF9;
    border: 2px solid #323232;
    box-shadow: 4px 4px #323232;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 7.5px;
    gap: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Nunito-Bold', serif;
}

.avatar_image-wrapper {
    width: 100%;
    height: 70px;
}

.avatar_image {
    width: 64px;
}

.avatar_name-wrapper {
    width: 100%;
    height: 30px;
}

.avatar_name {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #323232;
}

.avatar_divider {
    width: 100%;
    border: 2px solid #323232;
    border-radius: 50px;
}

.avatar_price-container {
    height: 28px;
    flex-direction: row;
    justify-content: space-between;
}

.avatar_owned { 
    font-size: 14px;
    color: #666666;
}

.avatar_price-wrapper {
    height: 100%;
    column-gap: 3px;
}

.gold_icon {
    width: 30px;
}

.avatar_price {
    font-size: 0.75rem;
    color: #323232;
}

.avatar_price span {
    font-size: 1rem;
    color: #666666;
}

.avatar_button {
    height: 25px;
    background: #FCFBFC;
    border: 2px solid #323232;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 0.75rem;
    transition: all 0.3s;
}

.avatar_button:hover {
    border: 2px solid #2D8CF0;
}

.avatar_button:active {
    transform: translateY(3px);
}