.store_upgrades-container {
    height: 90%;
    padding: 0.5rem;
    flex-direction: row;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.store_upgrades-container::-webkit-scrollbar {
    display: none;
}

.store_upgrade {
    width: 230px;
    height: 310px;
    background: #FBFBF9;
    border: 2px solid #323232;
    box-shadow: 4px 4px #323232;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Nunito-Bold', serif;
}

.store_upgrade:last-child {
    justify-content: flex-end;
}

.upgrade_image-wrapper {
    width: 100%;
    height: 100px;
}

.upgrade_image {
    width: 96px;
}

.upgrade_description-wrapper {
    width: 100%;
    height: 42px;
}

.upgrade_description {
    font-size: 1rem;
    text-align: center;
    color: #323232;
}

.upgrade_description_highlight {
    font: 1.2rem 'Nunito-Bold', serif;
    text-decoration: underline;
}

.upgrade_next-wrapper {
    width: 100%;
    height: 42px;
}

.upgrade_next {
    font-size: 14px;
    color: #666666;
}

.upgrade_divider {
    width: 100%;
    border: 2px solid #323232;
    border-radius: 50px;
}

.upgrade_price-container {
    height: 42.5px;
    flex-direction: row;
    justify-content: space-between;
}

.upgrade_maxed {
    font-size: 14px;
    color: #666666;
}

.upgrade_price-wrapper {
    height: 100%;
    column-gap: 8px;
}

.gold_icon {
    width: 42px;
}

.upgrade_price {
    font-size: 1rem;
    color: #323232;
}

.upgrade_price span {
    font-size: 1rem;
    color: #666666;
}

.upgrade_button {
    height: 35px;
    background: #FCFBFC;
    border: 2px solid #323232;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 0.8rem;
    transition: all 0.3s;
}

.upgrade_button:hover {
    border: 2px solid #2D8CF0;
}

.upgrade_button:active {
    transform: translateY(3px);
}