.end_game {
    width: 330px;
    height: 500px;
    padding: 5px 0;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #f0f0f0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}

.end_game-back {
    width: 329px;
    height: 499px;
    border: 3px solid black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    background: #f0f0f0;
    z-index: 11;
}

.end_game_content-wrapper {
    flex-direction: column;
}

.end_game_message-wrapper {
    font: 1.5rem 'Nunito-Bold', serif;
    height: 70px;
}

.end_game_remarks-wrapper {
    height: 85px;
    font-size: 1.1rem;
}

.end_game_remarks_chest_empty-wrapper {
    gap: 5px;
    font: 1.25rem 'Nunito-Bold', serif;
    animation: scale 0.2s ease-in-out;
}

.end_game_gold_icon {
    width: 60px;
    height: 60px;
}

.end_game_results_crown_penalty-wrapper {
    gap: 5px;
    font: 1.35rem 'Nunito-Bold', serif;
    animation: scale 0.2s ease-in-out;
}

.end_game_results_crown_penalty-wrapper {
    gap: 5px;
    font: 1.35rem 'Nunito-Bold', serif;
    animation: scale 0.2s ease-in-out;
}

.end_game_crown_icon {
    width: 64px;
    height: 64px;
}

.chest_wrapper {
    height: 130px;
}

.chest {
    width: 128px;
    cursor: pointer;
    transition: all 0.3s;;
}

.chest:hover {
    width: 140px;
}

.chest:active {
    width: 128px;
}

.chest_empty {
    width: 128px;
    cursor: default;
    pointer-events: none;
}

.end_game_results-wrapper {
    height: 150px;
}

.end_game_results_chest_open-wrapper {
    text-decoration: underline;
}

.end_game_remarks_chest_open-wrapper {
    padding: 0px 2.5px;
}

.end_game_remarks_chest_open-wrapper span {
    font: 1.1rem 'Nunito-Bold', serif;
}

.end_game_exit_button-wrapper {
    height: 40px;
}

.end_game_exit_button {
    width: 9.05rem;
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
}