.utility_display-container {
    width: 100%;
    height: 10%;
}

.highlight_display {
    z-index: 20;
}

.exit_button-wrapper {
    width: 33%;
    justify-content: flex-end;
}

.exit_button {
    height: 38.8px;
}

.countdown_timer-wrapper {
    width: 34%;
}

.time_left-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    font: 1.5rem 'Nunito-Bold', serif;
}

.time_left {
    border-radius: 50%;
    width: 99.5%;
    height: 99.5%;
    z-index: -1;
    background-color: #ede9e8;
}

.lives-wrapper {
    width: 33%;
    justify-content: flex-start;
}

.life-wrapper {
    height: 65px;
    position: relative;
}

.life {
    height: 65px;
    filter: drop-shadow(5px 5px 5px #222);
}

.lives_left {
    font: 1rem 'Nunito-Bold', serif;
    position: absolute;
    top: 37.5%;
}

.tutorial2_hand {
    position: absolute;
    left: -50px;
    z-index: 20;
}

.tutorial2_hand_icon {
    width: 64px;
    animation: pointRightMoveLeftAndRight 0.5s ease-in-out infinite alternate;
}

.tutorial3_hand {
    position: absolute;
    right: -50px;
    z-index: 20;
}

.tutorial3_hand_icon {
    width: 64px;
    animation: pointLeftMoveRightAndLeft 0.5s ease-in-out infinite alternate;
}

@keyframes animateAddLife {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.25);
        opacity: 0.5;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animateSubtractLife {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(0.75);
        opacity: 0.25;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}