.logo-container {
    height: 40%;
}

.image_logo{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.home_buttons-container {
    height: 42.5%;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 550px ) {
    .image_logo{
        width: 500px;
        height: 103%;
    }
}