.sign_in-container {
    height: 10%;
    padding: 0 15px;
    flex-direction: row;
    gap: 10px;
}

.landing_page_content-container {
    height: 90%;
}

.landing_page_image-wrapper {
    height: 50%;
}

.image_logo {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

@media screen and (min-width: 550px) {
    .sign_in-container {
        justify-content: right;
    }

    .image_logo{
        width: 615px;
        height: 103%;
    }
}