.landing_page-container {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.landing_page_content-container {
    flex-direction: column;
    gap: 3rem;
}

.image_logo {
    width: 80%;
}

@media screen and (min-width: 550px) {
}