.dialogue-container {
    z-index: 15;
    align-items: end;
}

.dialouge_character-wrapper {
    position: fixed;
    width: 50%;
}

.dialouge_character {
    position: fixed;
    width: 700px;
    left: -200px;
    bottom: -7.5%;
}

.dialouge_text-wrapper {
    font: 1rem 'Nunito-Regular', serif;
    width: 90%;
    height: 20%;
    margin-bottom: 10px;
    padding: 5px;
    background:#fff;
    border: solid black;
    border-width: 5px 3px 3px 5px;
    border-radius: 96% 0.5% 97% 2%/10% 94% 10% 95%;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transform: rotate(1deg);
}

.dialouge_text {
    height: 85%;
    transform: rotate(-1deg);
}

.dialogue_continue {
    height: 12.5%;
    font: 0.75rem 'Courier New', Courier, monospace;
    margin-right: 1rem;
    font-style: italic;
    justify-content: flex-end;
    transform: rotate(-1deg);
}

@media screen and (min-width: 550px) {
    .dialouge_character{
        width: 50%;
        left: -125px;
        bottom: -10%;
    }

    .dialouge_text-wrapper {
        font: 1rem 'Nunito-Regular', serif;
        width: 75%;
        height: 20%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1050px) and (min-height: 750px) and  (max-height: 1400px) {
    .dialouge_character{
        width: 1100px;
        left: -300px;
        bottom: -10%;
    }
}