.player_info-container {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player_name-container {
    width: 50%;
    justify-content: left;
    animation: scale 0.5s 0.5s ease-out;
    animation-fill-mode: backwards;
}

.player_name-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font: 1.2rem 'Nunito-Bold', serif;
    background: linear-gradient(
        135deg,
        #e5c93d,
        30%,
        #ffed87
    );
    box-shadow: 3px 3px 2px #c9bf8d;
    transform: rotate(1deg);
    transform-origin: top left;
}

.player_name-pin {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 25px;
}

.shadow {
    position: absolute;
    top: 9px;
    left: -4px;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    background: radial-gradient(#c9bf8d, 20%, rgba(201, 191, 141, 0));
}

.metal {
    position: absolute;
    width: 2.5px;
    height: 10px;
    background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
    border-radius: 0 0 30% 30%;
    transform: rotate(50deg);
    transform-origin: bottom left;
    top: 7.5px;
    border-bottom: 1px solid #808080;
}

.bottom-circle {
    position: absolute;
    right: 7.5px;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    background-color: #d02627;
    background: radial-gradient(
        circle at bottom right,
        #fc7e7d,
        25%,
        #9e0608,
        90%,
        #d02627
    );
}

.bottom-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 10px;
    height: 15px;
    transform: rotate(55deg);
    transform-origin: 100% 100%;
    border-radius: 0 0 40% 40%;
    background: linear-gradient(
        to right,
        #9e0608,
        30%,
        #d02627,
        90%,
        #fc7e7d
    );
}

.bottom-circle::after {
    content: "";
    position: absolute;
    right: -5px;
    top: -2.5px;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background: radial-gradient(
        circle at right,
        #fc7e7d,
        30%,
        #d02627,
        #9e0608 80%
    );
}

.player_coins-container {
    width: 50%;
    justify-content: right;
    animation: scale 0.5s 0.5s ease-out;
    animation-fill-mode: backwards;
}

.player_coins-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font: 1.2rem 'Nunito-Bold', serif;
    background: linear-gradient(
        135deg,
        #e5c93d,
        30%,
        #ffed87
    );
    box-shadow: 3px 3px 2px #c9bf8d;
    transform: rotate(359deg);
    transform-origin: top right;
}

.player_coins-pin {
    position: absolute;
    right: 5px;
    width: 30px;
    height: 25px;
}